<!-- Modal -->
<div class="modal" id="{{modalId}}" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-white bg-success">
                <h5 class="modal-title"><i class="fa fa-plus"></i> Add new project</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" role="alert" ng-if="err">
                    {{err}}
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control default-focus" ng-model="name" press-key />
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" ng-model="description" rows="3"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">
                  <i class="fa fa-times"></i> Close
                </button>
                <button type="button" class="btn btn-success" ng-class="name.length ? '':'disabled'" ng-disabled="{{name.length==0}}" ng-click="name.length==0 || submit()" data-dismiss="modal">
                  <i class="fa fa-save"></i> Save changes
                </button>
            </div>
        </div>
    </div>
</div>
