<div class="row">
    <div class="col">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li ng-repeat="wFolder in parents.wFolders | orderBy:'-'" class="breadcrumb-item">
                    <a ui-sref="root.project.files({folderId:wFolder.folder._id})">
                        <i class="fa fa-folder-o"></i> {{wFolder.folder.name|truncate:20}}<span ng-if="wFolder.folder.name.length>20">...</span>
                    </a>
                </li>
                <li class="breadcrumb-item active">
                    <i class="fa fa-folder-o"></i>
                    <b>{{folder.name}}</b>
                </li>
                <li class="breadcrumb-item">
                    <button type="button" class="btn btn-success btn-circle" data-toggle="modal" data-target="#newFolderModal">
                        <i class="fa fa-plus"></i>
                    </button>
                </li>
            </ol>
        </nav>
    </div>
</div>

<div class="row mt-4" ng-if="children.wFolders.length">
    <div class="col-lg-3">
        <h4>
            <i class="far fa-folder"></i> Folders
        </h4>
    </div>
    <div class="col-lg-9">
        <folders-list w-folders="children.wFolders" delete-item="deleteItem"></folders-list>
    </div>
</div>

<div class="row mt-4">
    <div class="col-lg-3">
        <h4><i class="far fa-file"></i> Files</h4>
        <uploader project-id="project._id" folder-id="folder._id" options="uploadOptions"></uploader>
    </div>
    <div class="col-lg-9" ng-if="children.wFiles.length">
        <files-list w-files="children.wFiles" delete-item="deleteItem"></files-list>
    </div>
</div>

<new-folder-modal folder="folder"></new-folder-modal>
<delete-files-folders-modal items="childrenToDelete" project="project"></delete-files-folders-modal>

<div class="fixed-to-bottom-toplevel">
    <div class="row mt-4 justify-content-end" ng-show="itemsAreSelected()">
        <div class="col-auto">
            <button type="button" class="btn btn-danger btn-circle btn-lg" ng-click="deleteAllSelectedItems()">
                <i class="fa fa-trash"></i>
            </button>
            <span class="badge badge-tertiary">{{selectedItemCount}} items selected</span>
        </div>
    </div>
</div>
