<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <h4 role="button" collapse-toggle data-target="#project-info-settings"><i class="fa fa-info-circle"></i> Project Info</h4>
            </div>
            <div class="col-md-9 collapse show" id="project-info-settings">

                <h5 class="card-title" ng-show="!editMode">{{project.name || "none"}}</h5>
                <div class="form-group" ng-show="editMode">
                    <label>Name</label>
                    <input type="text" class="form-control" ng-model="projectChanges.name" />
                </div>

                <blockquote class="blockquote mb-0" ng-show="!editMode">
                    {{project.description || "none"}}
                </blockquote>
                <div class="form-group" ng-show="editMode">
                    <label>Description</label>
                    <textarea ng-show="editMode" type="text" class="form-control" ng-model="projectChanges.description" rows="3"></textarea>
                </div>

                <hr />

                <div class="text-right">
                    <button role="button" class="btn btn-info no-animate" ng-click="toggleEditMode()">
                      <span ng-show="!editMode"><i class="fa fa-edit"></i> Edit</span>
                      <span ng-show="editMode"><i class="fa fa-times"></i> Cancel edit</span>
                    </button>
                    <button role="button" class="btn btn-success no-animate" ng-click="saveEdits()" ng-show="editMode"><i class="fa fa-save"></i> Save edits</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card mt-g-4">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <button role="button" class="btn btn-success btn-sm btn-circle float-right" data-toggle="collapse" data-target="#new-user"><i class="fa fa-plus"></i></button>
                <h4 role="button" collapse-toggle data-target="#project-users-settings"><i class="fa fa-users"></i> Team</h4>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col collapse show" id="project-users-settings">

                <div id="new-user" class="collapse">
                    <div class="input-group input-group-sm">
                        <input type="email" class="form-control" ng-model="newUserEmail" ng-keyup="checkNewUser()" />
                        <span class="input-group-btn">
                            <button role="button" class="btn btn-success" ng-class="newUserEmail.length ? '':'disabled'" ng-disabled={{newUserEmail.length==0}} ng-click="newUserEmail.length==0 || addUser()">Add</button>
                        </span>
                    </div>
                    <hr />
                </div>

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Email</th>
                                <th>View</th>
                                <th>Edit</th>
                                <th>Admin</th>
                                <th>Remove</th>
                            </tr>
                        </thead>

                        <tr ng-repeat="user in projectChanges.users" ng-class="user.delete?'danger':''">
                            <td ng-class="user.delete ? 'text-muted':''">{{user.user.sso.email || user.email}}</td>
                            <td>
                                <input type="checkbox" ng-model="user.permissions.view" ng-disabled="true" />
                            </td>
                            <td>
                                <input type="checkbox" ng-model="user.permissions.edit" ng-disabled="!project.curPermissions.edit || user.delete" />
                            </td>
                            <td>
                                <input type="checkbox" ng-model="user.permissions.delete" ng-disabled="!project.curPermissions.delete || user.delete" />
                            </td>
                            <td>
                                <button class="btn btn-sm btn-circle btn-outline-danger" ng-click="removeUserToggle(user)">
                                    <i class="fa" ng-class="user.delete?'fa-undo':'fa-times'"></i>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>



                <div class="bg-warning-light padded" ng-if="!adminIsLeft()">
                    No administrators will be left on your project if you submit your list of users. You will automatically be added back as an administrator for the project.
                </div>

                <div class="text-right">
                    <button role="button" class="btn btn-success" ng-click="saveUsers()"><i class="fa fa-save"></i> Save</button>
                </div>

            </div>
        </div>
    </div>
</div>





<div ng-if="project.curPermissions.delete">
    <hr />

    <div class="text-right">
        <button type="button" class="pull-right btn btn-danger btn-lg" data-toggle="modal" data-target="#delete-project-modal"><i class="fa fa-trash"></i> Delete</button>
    </div>



    <div class="modal" id="delete-project-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-white bg-danger">
                    <h5 class="modal-title"><i class="fa fa-trash"></i> Delete project "{{project.name}}"</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this project? This action is irreversible. All of your folders and files will be deleted as well.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">
                      <i class="fa fa-times"></i> Cancel
                    </button>
                    <button type="button" class="btn btn-default btn-danger" data-dismiss="modal" ng-click="deleteProject()">
                        <i class="fa fa-trash"></i> Yes, I am sure. Delete my project
                    </button>
                </div>
            </div>
        </div>
    </div>


</div>
