<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">{{project.name}}</h1>
        <p>{{project.description | limitTo : 150 }}<span ng-if="project.description.length > 150">...</span></p>
        <hr />
        <div class="row">
            <div class="col-md mr-auto">
                <ul class="nav nav-pills mb-3 show-all-pills" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="root.project.home" role="tab"><i class="fa fa-home"></i> Home</a></a>
                    </li>
                    <li ng-if="project.curPermissions.edit" class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="root.project.files" role="tab"><i class="fa fa-copy"></i> Files</a></a>
                    </li>
                    <li ng-if="project.curPermissions.edit" class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="root.project.settings" role="tab"><i class="fa fa-cogs"></i> Settings</a></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container mb-g-8">
    <ui-view></ui-view>
</div>
