<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Tutorials</h1>
        <p>Some basic Angular tutorials are shown below.</p>
    </div>
</div>

<div class="container">

    <h2>Angular two-way binding</h2>
    <p>
        Try writing something in the input below.
    </p>

    <div class="form-group">
        <div class="alert alert-primary" role="alert" ng-show="name">
          {{name}}
        </div>
        <input type="text" class="form-control" ng-model="name">
    </div>

    <hr class="mt-g-8 mb-g-8" />

    <h2>Trigger an action</h2>
    <button class="btn btn-primary" ng-click="clickMe()">Click Me</button>

</div>
