// OVerride default variables from bootstrap if desired for use in
// custom configuration

//$navbar-default-bg: #4A148C !default;
@import url('https://fonts.googleapis.com/css?family=Rubik');
$headings-font-family: 'Rubik', sans-serif;

$headings-color: #424242;
$body-color: #303030;

$primary: #FFB300;

$gray-lighter: #808080;
$gray-darker: #212121;
