@import "_variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
$navbar-height: 56px !default;
$navbar-height-clear: $navbar-height !default;
$clear-navbar-height: 60px;
* {
    box-sizing: border-box;
}
@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

html {
  position: relative;
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;

  &.fixed-nav{
    padding-top: $navbar-height-clear;
  }

  .lead-element{
      margin-top: -$navbar-height-clear;
      padding-top: $navbar-height-clear;
  }
}

footer {
  p, ul {
    margin-bottom: 0;
  }
}

// Dropdowns
// -------------------------

.dropdown-menu > li > a {
  font-weight: 300;
}
#main {
    // clear the navbar
    margin: 0 auto;
    iframe.full-screen {
        position: fixed;
        top: 0;
        left: 0;
        padding-top: $navbar-height;
        height: 100%;
        width: 100%;
        border: none;
    }

    .selectable.selected{
      background: $gray-lighter;
   }
}
#notifier {
    position: fixed;
    width: 100%;
    top: $clear-navbar-height;
}

.nav-pills.show-all-pills {
   .nav-item .nav-link{
      &:not(.active){
         background: rgba(0,0,0,0.1);
         color: darken($primary,30%);
         &:hover{
            background: rgba($primary,0.5);
         }
      }
   }
}
@import "animations";
@import "assets";
@import "footer";
@import "home";
@import "buttons";
@import "utilities";
@import "projects";
@import "rzslider/_rzslider";
